.App {
  display:grid;
  height: 100vh;
  grid-template-areas: "navbar navbar navbar"
                      "left_addbar main_content right_addbar"
                      "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}

@media screen and (max-width: 600px) {
	.App {
    display:grid;
    height: 100vh;
		grid-template-areas: "navbar"
		                     "main_content"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: 1fr 4fr 1fr;
  }
  .App-left_addbar {
    display: none;
  }
  .App-right_addbar {
   display:none;
  }
}

.App-navbar {
  grid-area: navbar;
  background-color: slateblue;
  transition: 0.2s ease-in-out all;
}
.App-left_addbar {
  display:grid;
  justify-content: center;
  grid-area: left_addbar;
  background-color: orange;
}
.App-main_content {
  display:grid;
  justify-content: center;
  grid-area: main_content;
  background-color: red;
}
.App-right_addbar {
  display:grid;
  justify-content: center;
  grid-area: right_addbar;
  background-color: yellow;
}

.App-footer {
  display:grid;
  justify-content: center;
  grid-area: footer;
  background-color: grey;
}

